li {
  color: #fdfdff;
}
#something2 {
    display: flex;
    width: 100vw;
    margin: 10px auto 15px;
}
#ing {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
#ing a {
  color: #18344c;
}

#ing > #png {
  width: 13%;
  height: 12vw;
  border-radius: 20vw;
  margin: 5px 0px 5px 15px;
  border: 5px solid #1c2329;
  box-shadow: 0px 0px 15px #666a72;
}
#ing > #png > img {
  width: 100%;
  height: 12vw;
  border-radius: 20vw;
  
}
#icon2 {
  font-size: 18px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  color: #3a3d42;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 12px #666a72;
  /* background-color: rgb(227,237,247); */
}
#icon2 a {
  line-height: 12vw;
  text-align: center;
  color: #f04c4d;
}
.left {
  margin-left: 15px;
}
.right {
  margin-right: 15px;
}

#text_name {
  padding-right: 50px;
  text-align: left;
  line-height: 15vw;
  font-family: mainFont, sans-serif;
  color: #fff;
  box-sizing: border-box;
}

/* 대화창 입력 부분 */
#text_box {
  width: 100vw;
  height: 70px;
  position: fixed;
  bottom: 0;
  display: flex;
  background: transparent;
}
#chatting_form {
  position: relative;
  border: 2px solid #252b30;
  box-shadow: inset 2px 2px 20px #101114;
  border-radius: 25vw;
  width: 85%;
  height: 11vw;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  background: #1a1d24;
  z-index: 5;
}
#chatting_input {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  width:  90%;
  height: 10vw;
  border-radius: 25vw;
  background: transparent;
  color: #fff;
}
a {
  color: #f04c4d;
}
.fa-plus {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.fa-camera {
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 16%;
  transform: translateY(-50%);
  z-index: 10;
}
.mic {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 0px 12px #df6666;
  background: linear-gradient(-90deg, #ac3231, #e14342);
  z-index: 2;
}
.fa-microphone{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}



/* 대화 내용 */
.fr_talk {
  position: relative;
  width: 100vw;
}
#talking li {
  height: auto;
  padding: 15px 10px;
  margin: 15px 0 12px;
  width: 150px;
}
.left_talk {
    position: relative;
    left: 3%;
    border-radius: 10px 10px 10px 0;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.671);
    background: #1a1d24;

}
.right_talk {
    position: absolute;
    right: 2%;
    border-radius: 10px 10px 0px 10px;
    background-color: #f04c4d;
}


/* 밑줄 */
.line2{
  display: none;
    box-shadow: 1px 1px 1px rgb(255,255,255);
    width: 97%;
    height: 1px;
    margin: 10px auto;
    /* background-color: rgb(227,237,247); */
}

body {
  height: 100vh;
}