@font-face {
    font-family: mainFont;
    src: url('../fonts/a타이틀고딕2.ttf');
}

body {
  background: linear-gradient(45deg, #1a1d24, #343841);
  height: 100vh;
}


/* 환영 문구 */
#welcome {
  width: 100%;
  height: auto;
  margin: 15% auto 0;
  text-align: center;
  padding: 50px 5px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: mainFont, sans-serif;
}
#welcome > h1 {
  margin: 0 auto 12px;
  font-size: 28px;
  font-weight: 600;
}


/* 프로필 이미지 */
#name {
  width: 100%;
  height: auto;
}
#name .profile_img {
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  border-radius: 40vw;
  border: 15px solid #2b2f3a;
  box-shadow: 0px 0px 35px #44494f;
  background-image: url(../images/brown.png);
  background-size: cover;
}
#name .user_name {
  text-align: center;
  padding: 25px 0 0;
  color: #fff;
  font-weight: 600;
     font-family: mainFont, sans-serif;
}


/* 로그인 내용 입력 */
#login_text {
  width: 90%;
  height: auto;
  margin: 35px auto 0;
  color: #fff;
    
}
#id-text {
  width: 100%;
  height: 14vw;
  margin: 15px auto;
  border: none;
  border-bottom: 1px solid rgba(199, 199, 199, 0.281);
  padding: 0;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: mainFont, sans-serif;
}
#pw-text {
  width: 100%;
  height: 14vw;
  margin: 0px auto 16px;
  border: none;
  border-bottom: 1px solid rgba(199, 199, 199, 0.281);
  padding: 0;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: mainFont, sans-serif;
}


/* 로그인 버튼 */
#login-form {
  width: 90%;
  height: auto;
  margin: 0 auto 10px;
}

#login-form > input {
  width: 100%;
  height: 14vw;
  margin: 20px auto;
  box-shadow: 2px 2px 10px #727881;
  border: none;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-radius: 14vw;
  font-family: mainFont, sans-serif;
  font-weight: 500;
}

#finder {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto 50px;
}
#finder > a {
  text-decoration-line: none;
  color: #727881;
  font-size: 14px;
  font-family: mainFont, sans-serif;
}