@font-face {
    font-family: mainFont;
    src: url('../fonts/a타이틀고딕2.ttf');
}

.status-bar {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  box-sizing: border-box;
  font-family: mainFont, sans-serif;
  color: #fefefe;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span{
  margin-right: 5px;
}
.status-bar__column:nth-child(2){
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child{
  display: flex;
  justify-content: flex-end;
}
.status-bar__column .fa-battery-full{
  margin: 0 5px;
}